/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*以上為css reset*/


*{box-sizing: border-box;}


.wrap{
    width:100%;	
    margin: 0 auto;
	font-family: 'Noto Sans Tc';
	border:1px solid #6C757D;
}


img{
	max-width: 100%;
	height: auto;
	vertical-align: middle;	
}

/*表頭*/
.Navbar{
    height: 90px;
	width: 100%;
    background:#fbfbfb;		
	padding:24px 80px;	
	}	
	
.Navbarmenu{
	display:flex;
	justify-content: center;
	height:100%;
	align-items: center;	
	font-size: 28px;
	line-height: 150%;	
	gap:40px;
	}
.Navbarmenu a{
text-decoration:none;
}

/*表尾*/
.footer{
	height: 280px;
	max-width: 100%;		
	   }
	   
.footerUp{
	display:flex;
	justify-content: space-around;
	background:#fbfbfb;	
	height: 208px;
	gap:24px
        }

.footerUpL{
display: flex;
font-size:32px;
line-height: 150%;	
color:#000000;
justify-content: center;
align-items: center;
         }

.footerUpR{
	display: flex;
	
	align-items: center;

}

.footerUpRm{
display:flex;
justify-content: start;


}

.footerBt{
	background:#ffffff;	
	height: 72px;
	max-width: 100%;	
	text-align: center;
	padding:24px 0;
}


/*banner*/

.banner{	
	width: 100%;	
	border:1px solid #6c757d;	
	padding-bottom: 56px;
}

.bannerLR{
display:flex;
}

.bannerLR .bannerL{
	display: flex;
	width: 50%;
	height: 640px;
	
	background-position: center;
	background-size:cover ;
	background-repeat: no-repeat;
	padding-right: 12px;
}

.bannerLR .bannerR{
	display: flex;
	width: 50%;
	height: 640px;	
	flex-direction: column;
	justify-content: center;
	padding-left: 12px;	
}

.bannerLR .bannerR .time{
	display:flex;	
	height: 24px;
	color:#000000;
	line-height: 150%;
	padding: 4px;	
}

.bannerLR .bannerR .info{
	display:flex;
	justify-content: start;
	align-items: center;
	padding:4px;
}

.bannerLR .bannerR .info .paper
{
	height: 36px;
	font-size:24px;
	line-height: 150%;
	color:#0027D5;
	padding-right: 8px;
}

.bannerLR .bannerR .info .news
{
	display:flex;
	align-items: center;
	justify-content: center;
	height: 36px;
	width: 88px;	
    line-height: 150%;
	color:#FFFFFF;
    background:#0027D5;    
    border-radius: 40px;
}

.bannerLR .bannerR .titles{
	font-size: 28px;
	line-height: 150%;;
	color:#000000;
	padding:4px;
}

/*content*/

.content{	
display: flex;
flex-wrap: wrap;
font-weight: bold;	
}

.contentpaper{
	display:flex;
	flex-wrap: wrap;
	margin: 0 auto;
	justify-content: center;
	flex-direction: column;
	width: 636px;
	max-width: 100%;
	
}

.contentpaper li{
	max-width:  100%;
	margin: 0 auto;
}



.content h2{
	font-size: 28px;
	line-height: 150%;
	color:#0027D5;
	padding: 12px 0;
}

content h3{
	font-size: 20px;
	line-height: 150%;
	color:#000000;
	padding-top: 12px;
	padding-bottom: 0;
}

.content p{
	padding: 12px 0;
	line-height: 150%;
	color:#000000;	
}

.content img{
	height: auto;
	max-width: 100%;
}

.contentpaper .pTip{
	display: flex;	
	height: 96px;
	background:#EDEDED;
	border-radius: 24px;
	font-weight: bold;
	padding: 12px 0;
	line-height: 150%;
	color:#000000;	
	align-items: center;
	justify-content: center;
}

.updownmu{
	display: flex;
	width: 636px;
	max-width:100%;
	height: 40px;
	display:flex;
	justify-content:space-between;	
	margin: 0 auto;
	padding-top: 24px;
	padding-bottom: 80px;
	
	
	
}

.updownmu .up {
	display:flex;
	align-items: center;
	height: 40px;
	width: 108px;	
	justify-content: center;
	border: 1px solid #4b4b4b;	
	border-radius: 40px;
	text-decoration: none;
	
}

.updownmu .dw{
	display:flex;
	align-items: center;
	height: 40px;
	width: 108px;	
	justify-content: center;
	border: 1px solid #4b4b4b;	
	border-radius: 40px;
	text-decoration: none;
	
}


@media (max-width: 576px) {
  .banner {
    flex-direction: column;
    height: auto;
    padding-bottom: 32px;
  }

  .bannerL, .bannerR {
    width: 100%;
  }

  .bannermenu .paper, .bannermenu .news {
    font-size: 16px;
  }

  .banner .titles {
    font-size: 20px;
  }
}