/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*以上為CSS Reste*/

*,
*::before,
*::after {
    box-sizing: border-box;
}


body {    
    font-family: "Noto Sans TC";
    background-color: #fbfbfb;
    line-height: 150%;
    font-weight: 500;    
}

img{
	max-width: 100%;	
	vertical-align: middle;	
}

a {
    text-decoration: none;
}

.navbar{
	display:flex;
	justify-content: center;	
	align-items: center;	
	font-size: 28px;	
	gap:40px;
    height: 90px;
    margin: 0 auto;
	}

/*以上表頭*/

.banner{
    display: flex;
    width: 100%;
    height: calc(100%vh - 90px);
}

.bannerL{
    width: calc(50% - 12px);
    padding-right: 12px;
}

.banner img{
    max-width:100%;
    background-position: center;
	background-size:cover ;
	background-repeat: no-repeat;
}

.bannerR {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(50% - 12px);
    padding-left: 12px;
}

.bannerR p{
    height: 36px;
    font-size:24px;
    line-height: 150%;
    color:#0027D5;
}

.bannerR span{   	
	height: 36px;
	width: 88px;	    
	color:#FFFFFF;
    background:#0027D5;    
    border-radius: 40px;
    padding:6px 12px;
}

.bannerR h1{
	font-size: 28px;
	line-height: 150%;;
	color:#000000;	
}

/*以上banner*/

.content{
    width: 636px;
    margin: 0 auto;
    font-weight: bold;
    padding-bottom: 48px;
}

.contentPaper h2{
    font-size: 28px;
    color:#0027D5;
    padding: 12px 0;
}

.contentPaper h3{
font-size: 20px;
color:#000000;
padding-top: 12px;
padding-bottom: 0;
}

.contentPaper p{
    padding: 12px 0;	
	color:#000000;	
}

.contentPaper .pTip{
	display: flex;	
	background:#EDEDED;
	border-radius: 24px;
	font-weight: bold;
	padding: 12px 0;	
	color:#000000;	
	align-items: center;
	justify-content: center;
}

.updownmu{
	display: flex;
	width: calc(100wh - 658px - 658px);
	height: 40px;
	display:flex;
	justify-content:space-between;	
	margin: 0 auto;
	padding-top: 24px;
	padding-bottom: 80px;	
}

.updownmu a{
   	display:flex;
	align-items: center;
	height: 40px;
	width: 108px;	
	justify-content: center;
    text-align: center;
	border: 1px solid #4b4b4b;	
	border-radius: 40px;
	text-decoration: none;
}

/*以上content*/

.footer{
	display:flex;
	justify-content: space-between;	    
    margin: 80px;
	gap:24px
    
    
}

.footer .footerL p{
font-size:32px;
color:#000000;
justify-content: center;
align-items: center;

}

.footer .footerR p{
	display: flex;		
    flex-wrap: no-wrap;
    text-align: right;
}

.footerdw{
    background:#ffffff;
	text-align: center;
	padding:24px 0;
}

/*以上footer*/

@media (max-width: 576px) {
    .banner{
        display: flex;
        flex-direction: column;
        
    }
   .bannerL {
        margin: 0 auto;
        width: 100%;
   }
   .bannerL img{
        width: 100%;
   }
       
    .bannerR {
            width: 100%;
            padding-left: 12px;
            padding-right: 12px;
        }
    

.content{
    width: 100%;
    margin: 0 auto;
    font-weight: bold;
    padding-left: 12px;
    padding-right: 12px;
}

.contentPaper h2{
    margin: 0 auto;
}

.contentPaper h3{
    margin: 0 auto;
}

.contentPaper p{
    margin: 0 auto;
}

.contentPaper .pTip{
	margin: 0 auto;
    max-width: 100%;
}

.contentPaper .updownmu{
   
	 margin: 0 auto;
    
}

.contentPaper.updownmu a{
    max-width: 100%;
    margin: 48px 12px 64px 12px;
}

.footer{
	margin: 0 auto;  
}

.footerL{
    display: none;
}

.footerR{
    display: none;
}

.footerdw{
    padding:24px auto;
}

}